#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
DEB_BUILDDIR = $(DEB_SRCDIR)/debian/tmp

export DH_VERBOSE=0

export DEB_BUILD_OPTIONS=parallel=$(shell grep -c ^processor /proc/cpuinfo)

override-dh_auto_test:
	debian/tmp/hpack-headers-tests

override-dh_auto_configure:
	dh_auto_configure -- -DHPACK_INSTALL_TESTS

override-dh-strip:
	dh_strip --dbg-package=libhpack-headers-dbg
override_dh_prep:
	mkdir debian/tmp/usr
	mkdir debian/tmp/usr/lib
	ln -s debin/tmp/libhpack-headers.so debian/tmp/usr/lib/libhpack-headers.so
%:
	dh $@ --builddirectory=debian/tmp --parallel

